<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userRealm" class="org.goiot.shiro.UserRealm"/>
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <bean id="shiroSecureManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
        <property name="cacheManager" ref="shiroCacheManager"/>
    </bean>
    <!--基于role的权限控制-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="shiroSecureManager"/>
        <property name="filterChainDefinitions">
            <value>
                /api/blog/detail = roles[Administrator]
                ** = anon
            </value>
        </property>
    </bean>

</beans>